<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.TITLE}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/comunity.css"/>
    <script type="application/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}">

</div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h4>
                <span th:text="${question.TITLE}"></span>
            </h4>
            <span class="test-desc">
                作者 <span th:text="${question.USER.getNAME()}"></span> |
                发布时间 <span th:text="${#dates.format(question.getGMTCREATE(),'yyyy-MM-dd HH:mm')}"></span> |
                阅读数 <span th:text="${question.VIEW_COUNT}"></span>
            </span>
            <hr/>
            <div th:text="${question.DESCRIPTION}">

            </div>
            <hr>
            <a th:if="${session.user != null && question.CREATORID == session.user.getID()}" class="comunity-menu" th:href="@{'/publish/' + ${question.getID()}}">
                <span class="glyphicon glyphicon-pencil"></span>
                编辑
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div>
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.USER.getAVATAR_URL()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.USER.getNAME()}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h4>相关问题</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>