<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.TITLE}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script type="application/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/community.js"></script>
    <script type="application/javascript" src="/js/moment.js"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}">

</div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h4 class="question-title">
                <span th:text="${question.TITLE}"></span>
            </h4>
            <span class="test-desc">
                作者 <span th:text="${question.USER.getNAME()}"></span> |
                发布时间 <span th:text="${#dates.format(question.getGMTCREATE(),'yyyy-MM-dd HH:mm')}"></span> |
                阅读数 <span th:text="${question.VIEW_COUNT}"></span>
            </span>
            <hr/>
            <!--内容-->
            <div th:text="${question.DESCRIPTION}">
            </div>
            <hr style="margin-bottom: 5px">
            <!--标签-->
            <span class="label label-info question-tag" th:each="tag:${question.TAG.split('，')}">
                <span class="glyphicon glyphicon-tags"></span>
                <span th:text="${tag}"></span>
            </span>
            <hr style="margin-top: 5px;">
            <!--编辑-->
            <a th:if="${session.user != null && question.CREATORID == session.user.getID()}" class="community-menu"
               th:href="@{'/publish/' + ${question.getID()}}">
                <span class="glyphicon glyphicon-pencil"></span>
                编辑
            </a>
            <h4 class="comment-h4">
                <span th:text="${question.COMMENT_COUNT}"></span> 个回复
            </h4>
            <hr class="comment-sp">
            <div>
                <div class="media comments" th:each="comment:${comments}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${comment.user.getAVATAR_URL()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${comment.user.getNAME()}"></span>
                        </h5>
                        <div th:text="${comment.getContent()}"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="icon" th:data="${comment.id}" onclick="collapseComments(this)">
                                <span class="glyphicon glyphicon-comment">
                                </span>
                                <span th:text="${comment.getCommentCount()}"></span>
                            </span>
                            <span class="pull-right"
                                  th:text="${#dates.format(comment.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                        <!--二级评论-->
                        <div class="collapse sub-comments col-lg-12 col-md-12 col-sm-12 col-xs-12"
                             th:id="${'comment-'+comment.id}">

                            <!--                            <div class="media comments" th:each="comment:${comments}">-->
                            <!--                                <div class="media-left">-->
                            <!--                                    <a href="#">-->
                            <!--                                        <img class="media-object img-rounded" th:src="${comment.user.getAVATAR_URL()}">-->
                            <!--                                    </a>-->
                            <!--                                </div>-->
                            <!--                                <div class="media-body">-->
                            <!--                                    <h5 class="media-heading">-->
                            <!--                                        <span th:text="${comment.user.getNAME()}"></span>-->
                            <!--                                    </h5>-->
                            <!--                                    <div th:text="${comment.getContent()}"></div>-->
                            <!--                                    <div class="menu">-->
                            <!--                                        <span class="pull-right" th:text="${#dates.format(comment.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <input type="text" class="form-control" placeholder="评论一下..."
                                   th:id="${'replay-'+comment.id}">
                            <button type="button" class="btn btn-success pull-right" onclick="replay(this)"
                                    th:data="${comment.id}">评论
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="comment-h4">
                提交回复
            </h4>
            <hr class="comment-sp_">
            <div id="comment-section">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.USER.getAVATAR_URL()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.USER.getNAME()}"></span>
                        </h5>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.getID()}">
                <textarea class="form-control comment" id="comment_content" rows="3"></textarea>
                <button type="button" class="btn btn-success btn-comment" onclick="comment()">回复</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div>
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.USER.getAVATAR_URL()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.USER.getNAME()}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr>
            <h4>
                GitHub账号
            </h4>
            <a href="https://github.com/adogzZ">
                <img src="/img/adog_github.png" class="img-thumbnail">
            </a>
            <hr>
            <div>
                <h4>相关问题</h4>
<!--                <ul style="padding-left: 0px">-->
<!--                    <ol th:each="related:${relatedQuestions}" style="padding-left: 0px;line-height: 2px">-->
<!--                        <a th:href="@{'/question/'+ ${related.getID()}}" th:text="${related.TITLE}"></a>-->
<!--                    </ol>-->
<!--                </ul>-->
                <ul class="question-related">
                    <ol th:each="related:${relatedQuestions}" class="question-related">
                        <a th:href="@{'/question/'+ ${related.getID()}}" th:text="${related.TITLE}"></a>
                    </ol>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>